booking-trans-sapi-impl/target/META-INF/mule-src/booking-trans-sapi-impl/src/main/mule/booking-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="booking-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
   
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="df3a21bf-4199-4939-a81d-840bfea93688" >
		<wsc:connection wsdlLocation="http://localhost:9001/booking/fetchRoutes?wsdl" service="Bookings" port="BookingsSOAP" address="http://localhost:9001/booking/fetchRoutes" />
	</wsc:config>
    <apikit:config name="booking-sapi-config" api="booking-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="booking-sapi-main">
        <http:listener config-ref="booking-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="booking-sapi-config" />
        <error-handler ref="common_error_handler">
        </error-handler>
    </flow>
    <flow name="booking-sapi-console">
        <http:listener config-ref="booking-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="booking-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\routes:booking-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2fed3495-beb7-4062-b34d-73bb6bdce89a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.example.org/Bookings/
---
{
	ns0#getRoutes: {
		in: vars.transportType
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
        <wsc:consume doc:name="Consume" doc:id="43d6376c-2b1e-4477-aead-f58a3dc937ab" config-ref="Web_Service_Consumer_Config" operation="getRoutes" />
		<logger level="INFO" doc:name="Logger" doc:id="0a4462e2-55f6-48fd-ae4c-05e8afdc4628" message="received message #[payload]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
ns ns0 http://www.example.org/Bookings/
output application/xml
---
payload.body]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="ad5aa77f-c02a-429b-991e-0904ffbf05ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://www.example.org/Bookings/
output application/json
---
 payload.body.getRoutesResponse.out]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="aae8e3cb-59dc-44b0-a1d6-eb9ac0cf0d97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
read(payload, "application/xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="600b0bf6-955b-4149-bef3-978a1d055a13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings 
output application/json
fun redefineRoute ( route : String) = substringAfter(route,'-') ++ "-" ++ substringBefore(route,'-')
---
payload.ROUTELIST.ROUTELIST.*ROUTEINFO map (route, index) -> {
	
	originLocation: {
		locationCode: redefineRoute(route.ORIGIN)
	},
	destinationLocation: {
		locationCode: redefineRoute(route.DESTINATION)
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="common_error_handler" />
    </flow>

    <flow name="get:\(transportType)\(transportCompany)\schedules:booking-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  departureSchedules: [
   
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="common_error_handler" />
    </flow>
</mule>
